{% extends 'sepatumu/base.html' %} {% block content %}

<header class="header-search">
    <div class="ui secondary menu" id="header-search-menu">
        <div class="ui container">
            <div class="right menu">
                <a class="item" href="/" data-tooltip="RSDH" data-inverted="" data-position="right center">
                    <img class="ui image" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="RSDH Logo">
                </a>
                <a class="item active" href="/sepatumu/image/">
                    Gambar
                </a>
            </div>
        </div>
    </div>
</header>

<main class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui text container">
            <a href="/sepatumu">
                <img class="ui centered medium image" src="{{ url_for('static', filename='sepatumu/SepatuMu.svg') }}" alt="SepatuMu">
            </a>
            <p>Cari semua gambar sepatu snickers di SepatuMu</p>
            <br/>
            <form class="ui form" method="post" action="/sepatumu/image/texture/result" enctype="multipart/form-data">
                <div class="inline fields">
                    <div class="field">
                        <img class="ui small image" src="{{ url_for('static', filename='dataset/dc_dc-mikey-taylor-vu-m-shoe--navy-red-adys300132-nrd_full07.jpg') }}"
                        />
                        <input class="ui primary button" type="submit" name="tes" value="dc_dc-mikey-taylor-vu-m-shoe--navy-red-adys300132-nrd_full07.jpg" style="border-radius: 30px;"
                        />
                    </div>
                    <div class="field">
                        <img class="ui small image" src="{{ url_for('static', filename='dataset/dc_dc-astor-m-sneaker-shoes---dark-green--adys100358-dgr-_full02.jpg') }}"
                        />
                        <input class="ui primary button" type="submit" name="tes" value="dc_dc-astor-m-sneaker-shoes---dark-green--adys100358-dgr-_full02.jpg"
                            style="border-radius: 30px;" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<section class="pattern">
    <div class="ui container">
        <img class="ui image" src="{{ url_for('static', filename='img/shoes-pattern.png') }}" alt="Shoes Pattern">
    </div>
</section>

<footer class="footer">
    <div class="ui text menu">
        <div class="ui container">
            <div class="item">
                &copy; 2017, Sepatumu
            </div>
            <div class="right item">
                <a class="item" href="/">
                    Rasyadh Abdul Aziz
                </a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}